html {
    height: 100vh;
}

* {
            margin:auto;
            padding:0;
}

input {
            width: 550px;
            height: 42px;
            background-color: white;
            border:none;
            font: bold 5px 'lucida sans', 'trebuchet MS', 'Tahoma';
}


button{
  			position: relative;
            top: 0px;
            right: 0px;
            border: none;
            background-color: transparent;
}

body {
            background: white;
            font-weight: 500;
            font-family: Arial,sans-serif, FreeSans, Arimo;
            font-size: 13px;
            color: #eeeeee;
            margin-top: 3px;
            text-align: center;
}

i {
        	background-color: white;
        	padding: 0px;
}

img {
			display:block;
			margin:0 auto;
}

a {
			text-decoration: none;
			color: #666;
			position: relative;
}

a:hover {
			color: #000;
}


a:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			background-color: #000;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			-o-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all 0.3s ease-in-out 0s;
			-o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;	
}         
  		   
		a:hover:before {
		   visibility: visible;
		   -webkit-transform: scaleX(1);
		   -o-transform: scaleX(1);
		   transform: scaleX(1);
		}    
	
		.header {
			background-color: white;
			color: #666;
			text-align: right;
			padding: 0px;
			font-size: 13px;
            position: absolute;
            right: 2%;
            top: 2%;
		} 

		.header ul {
			list-style: none;
		}

		.header li {
			float: right;
			width: 50px;
		}

		.Signin {
			padding:none;
			background-color:#4285f4;
			color: white;
			height: 30px;
			width: 60px;
			font-family: Microsoft YaHei;
            position: relative;
            top: -5px;
		}     

		#nav1 {
			padding: 10px;
		}
		
		.footer {
            position: absolute;
            bottom: 0px;
			background-color: #eeeeee;
			height: 20px;
			width: 1515px;
			padding: 10px;
			color: #666;
		}

		.footer ul {
			list-style: none;
		}

		.footer li {
			float: left;
			width: 70px;
		}

		.footer1 {
			list-style: none;
		}

		.footer1 li {
			float:right;
			width: 70px; 
 		}

        .form {
            position: absolute;
            top: 25%;
            left: 33%; 
            width: 550px;
            height: 42px;
            display: inline-block;
            padding: 0.3px;
            border: none;
            border-radius: 1px solid #e7e7e7;   
            color: black;         
        }

        .search {
            outline: none;
        	height: 45px;
        	margin: 0;
        	border: none;
        	border-bottom-color: rgb(195,195,195);
        	border-right-style: rgb(195,195,195); 
        	box-shadow: 0 0.5px 5px 0 rgb(190,190,190);
        }

        .aaa {
        	background-color: #eeeeee;
        	border: none;
        	width: 110px;
        	height: 35px;
        	font-family:arial,sans-serif;
        	font-size: 13px;
        	color: #666;
        }

        .aaa:hover {
        	background-color: #eeeeee;
        	border-style: solid;
        	border-color: #222;
        	border-radius: 2px;
        	border-width: 1px 1px 1px 1px;
        	width: 110px;
        	height: 35px;
        	font-family: Microsoft YaHei;
        	color: black;
        }

        .bbb {
        	background-color: white;
        	border: none;
        	color: #1E1E1E;
        	position: relative;
        	top: 0;
        }

        .ccc {
        	position: relative;
        	right: -250px;
        	top: -33px;
        	color: #4285f4;
        }
